@charset "UTF-8";

@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

header {
  $header-height: 60px;
  $header-background: $dark-gray;
  $header-color: transparentize(white, 0.3);
  $header-color-hover: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: $header-height;
  width: 100%;

  background-color: $header-background;

  #logo {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .nav-link {
    display: inline;
    margin: 0 1em;
  }

  a {
    color: $header-color;

     &:hover {
      color: $header-color-hover;
    }
  }
}