@charset "UTF-8";

@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

.portrait {
  height: 200px;
  margin-bottom: 1em;
}

.intro {
  $intro-text-width: 100%;

  margin-bottom: 5em;
  margin-top: 1.5em;
  text-align: center;

  h2 {
    font-family: $serif;
    font-weight: 800;
    margin-bottom: .3em;

    @include media($large-screen) {
      font-size: 3em;
      margin-bottom: .4em;
    }
  }

  h4 {
    color: lighten($base-font-color, 20);
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.4em;
    margin: 0 auto 1em;

    @include media($large-screen) {
      font-size: 1.7em;
      line-height: 1.35em;
      margin: 0 auto 1em;
      width: $intro-text-width;
    }
  }

  p {
    margin: auto;

    @include media($large-screen) {
      width: $intro-text-width;
    }

    a {
      font-weight: bold;
    }
  }
}